.s{
    border-style: dashed;
    border-color: chocolate;

}
.d{
    border-style: dotted;

}
.f{
    border-style: groove;
    border-color: aqua;
}
.g{
    border-style: inherit;
    border-color: blue;
    color: brown;
    border-radius: 60px;
    border: width 80px;
    border-left: 70px;
    border-right: 90px;
}
