*{
    box-sizing: border-box;
    padding: 0px;

}
body {
    display: flex;
    align-items: center;
    height: 60vh;
    
}
form{
    border: 10px solid red;
    height: 50vh;
    width: 50%;
    margin: 20px;
    padding: 50px 50px;
}
input{
    border: 3px solid red;

}
input .email{
    margin: 10px;
    
}
h2{
    position: relative;
    margin-bottom: 400px;
    margin-left: 400px
    ;
    
    
}
    
