.box1{
    background-color: cadetblue;
    height: 100px;
    width: 100%;
    padding: 20px;
    text-align: center;

}
.box2{
    background-color: blue;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width:800px)
{.box1{
width: 450px;
height: 500px;
margin: 10px;
padding: 25px;
background-color: red; 
}
 span{
    display: none;
 }    
}