.one{
    color: brown;
    text-shadow: 5px 5px 0px rgb(85, 167, 53);
}

.two{
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    box-shadow: 10px 5px 10px red
}
body{
    background-color: aqua;
}